.App {
  text-align: center;
}

.navbar {
  background: #0082e6;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.navDiv {
  padding: 0px 20px;
}
